name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/front/importtimporta
            git pull
            docker stop next-frontend || true
            docker rm next-frontend || true
            docker build -t importtimporta-frontend .
            docker run -d \
              --name next-frontend \
              -p 3000:3000 \
              importtimporta-frontend
